
/*xxxxxxxxxxxxxxxxxxxxxx
CONFIGURER LA navbar 
xxxxxxxxxxxxxxxxxxxxxx*/
/* on peut ajouter ce genre de fioritures dans le code de .navbar */

/* takes out the shadow */
/*
  card-simple {
  background: #fff;

  box-shadow: none;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px 20px 25px 20px;
}

et un autre code qui ne sert à rien (pareil, dans le code de .navbar)


.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;

  box-shadow: none;
  transition: all 0.2s ease-out;
}
*//* ↑ this is the part that takes out the shadow */

.navbar {
  height: 2.77rem;
  background:  rgb(255,255,230);
  background-color: rgb(255,255,230);
/* uncomment le box-shadow si tu veux enlever le petit trait sous le menu...
  box-shadow: none;  */
  font-size: 0.74em;
     letter-spacing: 0.3px;
  font-family: serif;
  font-weight: 500 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; /* on peut jouer avec cette valeur pour prioriser ce qui s'affiche dans le site  */
  padding-top: 2.5px;
  padding-right: 38px;
  padding-left: 10px;
  padding-bottom: 4px;
/* ici on pourrait ajouter une image dans la zone du logo (va voir le brouillons.rmd) ! 
(on surexpose donc : parce qu'on demande aussi a wowcherry d'afficher le nmoo du site dans cette zone ! */

.navbar-brand {
    text-align: left;
    font-size: 3em;
     letter-spacing: -2.5px;
     word-spacing: -2px;
    color: black;
    font-weight: bold;
    display: inline-block;
    -webkit-text-stroke: 0.6px white; /* ici on va appliquer un effet stroke au texte ! */
    text-stroke: 2px black;
    
  text-shadow: 0.56px 0.56px 0 #04040E , 1.1px 1.1px 0 grey ; /* on complete le stroke avec une ombre */
  
    font-family: "Arial black", sans-serif;
    position: relative; /* permet d'utiliser z-index */
    z-index: 3; /* le texte est au premier plan */
  left: -4%;
}


.navbar-brand::before {
  content: ""; /* pour l'image de fond */
  position: absolute;
  bottom: -3%;
  left: -33%;
  width: 50%;
  height: 100%;
  transform: scale(0.85);
  background-image: url("/icon_voronoi.png");
  
  filter: drop-shadow(1px 20px 20px rgba(255, 255, 255, 0.7));
  /* les paramètres drop-shadow ici c'est un léger décalage horizontal de 1px (pas tout à fait centré), la longueur de la traînée verticale (20px) et un genre d'effet de flou */
  

  background-size: contain;
  background-repeat: no-repeat; /* à utiliser avec "contain" pour éviter que l'image ne se répète */

    /*font-family: "Serif";*/
  /*border: 3px solid null; *//* pas de couleurs spécifiée on s'en sert juste pour cropper l'image! */
 /* border-radius: 30px;*/
  opacity: 1; /* opacité de l'image de fond */
  z-index: 1; /* l'image est en arrière plan */
}


  
  /* icones font awesome black dans ce contexte */
  
.fa {
    color: black;
  }
  
  /* on écrase le bleu du thème de base !*/
  
.nav-link span {
    color: black;
  }
  
  /* ici tu ajoute "span" si tu veux toucher que le texte */
.nav-link.active { 
  animation: glowing-blue 2s ease-in-out infinite alternate;
  border-radius: 0.5rem;
border-style: groove;
height: 110%;
border-color: grey;
background: black;  

.fa {color: white};

  span {
  font-style: bold;
   /*font-size: 1.1em; */
color: white; 
 
}
  }  /* fin du réglage de active-nav-link*/
  
  span { 
    
font-weight: bold;
  }
}
 
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LES CLASSES CUSTOMS DU MENU - déclarées dans le menu.yaml 
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* ici en faisant cela on définie une autre largeur du menu !

.nav-item { 
        color: white;
  font-weight: bold;
	 text-shadow: 0px 0.5px 0px black; 
			
  background: white;
}  */
 
 /* on peut aussi gérer une image dans la zone "brand" créé par wowchemy (va voir dans ton brouillon) */
